---
import Icon from "./Icon.astro";
---

<section class="box skills">
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="terminal-window"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Front-End Development</h2>
    <p>
      Proficient in building responsive and user-friendly interfaces using HTML
      and CSS. Experienced in creating interactive features with vanilla
      JavaScript and ensuring cross-browser compatibility.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
    <h2>Programming Skills</h2>
    <p>
      Proficient in HTML and CSS, with experience in building and styling
      responsive web pages. Familiar with JavaScript and its basics, with
      ongoing efforts to enhance knowledge and skills in scripting and
      interactivity.
    </p>
  </div>
  <div class="stack gap-2 lg:gap-4">
    <Icon
      icon="strategy"
      color="var(--accent-regular)"
      size="2.5rem"
      gradient
    />
    <h2>Technical Troubleshooting</h2>
    <p>
      Experienced in diagnosing and addressing hardware and software issues.
      Dedicated in identifying problems and providing effective solutions.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
